.next-header{
    color:var(--color-primary);
    font-size: 36px;
    font-weight: var(--font-weight-bold);
}


@media (min-width:500px){
    .next-header {
        font-size: 25px;
        
    }
}

@media (min-width:792px){
    .next-header {
        font-size: 30px;
        
    }
}

@media (min-width:1200px){
    .next-header {
        font-size: 36px;
       
    }
}

@media (min-width:1300px){
    .next-header {
        font-size: 40px;
        
    }
}