h4{
    font-size: 20px;
}
.related-game-card{
    margin-right: 20px;
    line-height: 20px;
}
.div-img-related{
    padding: 0;
}
.img-related-card{
   border-radius: var(--border-raduis-primary);
   /* margin-bottom: 20px; */
   width:100px
}
li{
    font-size: 16px;
   
}

hr{
    color:#777
}

@media(max-width:1200px){
    .div-rate {
        width:32%;
        
    }
    .div-rate h4,li{
        font-size: 0.8rem;
    }
}

